{% extends 'base.html' %}
{% load static %}

{% block title %}{{ spot.name }}{% endblock %}

{% block content %}
<section class=" h-screen grid place-content-center">
    <div class="text-center max-w-xl p-8 mx-auto bg-primary-100 rounded-2xl">
        <h1 class=" text-6xl font-black"><i class="fas fa-circle-check text-primary-950"></i></h1>
        <p class="text-xl my-4 text-primary-900">
            We've received your request, will get back to you shortly via email.
        </p>
    </div>
</section>
{% endblock content %}