{% extends 'base.html' %}
{% load static %}

{% block title %}Successfully processed{% endblock %}

{% block content %}
<section class=" h-screen grid place-content-center">
    <div class="text-center py-40">
        <h1 class=" text-6xl font-black text-primary-800">Success <i class="fas fa-check text-lime-500"></i></h1>
        <p class="text-xl my-4">
            We will get back to you shortly
        </p>
        <form>
            <button type="submit" class="btn bg-primary-800 text-white py-2 px-6" formaction="{% url 'main:home-view' %}">
                <i class="fas fa-home mr-4"></i>Back to home
            </button>
        </form>
    </div>
</section>
{% endblock %}
    