{% extends 'base.html' %}
{% load static %}


{% block content %}
<!-- <section class=" bg-lime-500">
        <div id="hero-space"></div>
        <div class=" py-44 text-center">
            <h1 class=" text-5xl font-bold">{{ itinerary.name }}</h1>
            <p class="mt-8 text-xl mb-16">Highlights Of Your Journey</p>
        </div>
    </section> -->

<section id="banner" class="overflow-hidden h-[80vh]">
    <div class="relative h-full">
        <img src="{{ itinerary.image.url }}" alt="Kaizen Safaris {{ itinerary.name }}"
            class=" w-full h-full object-cover">
        <div class="cover z-10 absolute top-0 left-0 w-full h-full bg-black bg-opacity-40">
            <div id="hero-space"></div>
            <div class="container content-space grid justify-center content-start h-full">
                <h1 class="shadowed text-5xl text-white uppercase mt-20 sm:mt-40 font-bold text-center">
                    {{ itinerary.name }}
                </h1>
                <p class="shadowed mt-8 text-xl mb-16 mx-auto text-white">Highlights Of Your Journey</p>

            </div>
        </div>
    </div>
</section>

<section class="pb-40 pt-10">
    <div class="container">
        <div>
            {{ itinerary.details|safe }}
        </div>
    </div>
</section>

<section class="pb-40">
    <section class="cards relative">
        <!-- start cards -->


        <div id="content" class="scroll-content">
            {% for day in itinerary.days.all %}
            <div class="card grid lg:grid-cols-2 lg:gap-8 ">
                <div class="card-item relative bg-slate-600">
                    <figure class=" relative overflow-hidden h-full">
                        <img src="{{ day.image.url }}" alt="" class="w-full h-full object-cover transition-all">
                        <div
                            class="overdrop bg-lime-500 hidden sm:block absolute z-10 top-0 left-0 w-full h-full opacity-30 transition-all">
                        </div>
                    </figure>
                    <div
                        class="circle transition-all absolute bg-slate-900 rounded-full aspect-square p-3 lg:p-3 lg:top-1/2 z-30 grid justify-center content-center text-xs">
                        <span class="text-white font-bold">DAY {{ day.day }}</span>
                    </div>
                </div>
                <article class="card-item pt-8 px-2 grid">
                    <h3 class="mt-8 sm:mt-0 font-semibold text-3xl">{{ day.title }}</h3>
                    <div class="desc  text-lg mt-8 text-grey-700 p-4 content">
                        {{ day.description|safe }}
                    </div>
                    <div class="mt-8 ml-6 grid gap-4 sm:gap-1 mb-3 sm:mb-1 sm:grid-cols-2 text-lg">
                        <div class="flex">
                            <div class="icon text-2xl mr-4">
                                <i class="fas fa-ranking-star"></i>
                            </div>
                            <div>
                                <h4 class=" font-semibold">Tourist Attraction:</h4>
                                <p>{{ day.tourist_attraction }}</p>
                            </div>
                        </div>
                        <div class="flex">
                            <div class="icon text-2xl mr-4">
                                <i class="fas fa-money-bill-wave"></i>
                            </div>
                            <div>
                                <h4 class=" font-semibold">Best Buy Of This Place:</h4>
                                <p>{{ day.best_buy }}</p>
                            </div>
                        </div>
                        <div class="flex">
                            <div class="icon text-2xl mr-4">
                                <i class="fas fa-bowl-food"></i>
                            </div>
                            <div>
                                <h4 class=" font-semibold">Food Speciality:</h4>
                                <p>{{ day.food_speciality }}</p>
                            </div>
                        </div>
                        <div class="flex">
                            <div class="icon text-2xl mr-4">
                                <i class="fas fa-skiing"></i>
                            </div>
                            <div>
                                <h4 class=" font-semibold">Activity:</h4>
                                <p>{{ day.activity }}</p>
                            </div>
                        </div>
                    </div>
                    <footer class="-mx-2 p-6 bg-slate-900 text-white mt-auto">
                        <i class="fas fa-bell mr-4"></i>
                        <strong>Kaizen Safaris:</strong> Come tour with us
                    </footer>
                </article>
            </div>
            {% endfor %}
        </div>


        <!-- end cards -->
        <!-- spacer -->
        <div id="spacer"
            class="absolute bg-gray-700 p-1 lg:left-1/2 top-0 rounded-full flex flex-col justify-center text-white z-20">
            <div class="endpts bg-gray-700 uppercase text-xs font-semibold text-center mt-4">start</div>
            <div class="line w-0 h-full border-l-2 border-dashed mx-auto"></div>
            <div class="endpts bg-gray-700 uppercase text-xs font-semibold text-center mb-4">end</div>
            <img class="car fixed top-8" src="{% static 'img/car.png' %}" />
        </div>
    </section>
    <div class="cta mt-20 container">
        <div class="grid md:grid-cols-2 gap-4 py-16">
            <div class=" text-center">
                <h2 class="head-1">
                    <span class="lead block">Request a quote</span>
                    <span> for this itinerary.</span>
                </h2>
                <p class="mt-4">
                    We will get back to you within a week
                </p>
            </div>
            <form method="post" action="{% url 'destinations:itinerary-detail' itinerary.pk %}" id="quote" class="grid content-end items-end gap-4">
                {% csrf_token %}
                <fieldset class="grid">
                    <label for="name">Name*</label>
                    <input type="text" name="name" class="p-2 w-full rounded-sm text-white placeholder:text-primary-950 bg-primary-800 focus-within:outline-none focus-within:bg-primary-900 transition-all" required>
                </fieldset>
                <fieldset class="grid">
                    <label for="email">Email*</label>
                    <input type="email" name="email" class="p-2 w-full rounded-sm text-white placeholder:text-primary-950 bg-primary-800 focus-within:outline-none focus-within:bg-primary-900 transition-all" required>
                </fieldset>
                <fieldset class="grid">
                    <label for="phone">Phone*</label>
                    <input type="tel" name="phone" class="p-2 w-full rounded-sm text-white placeholder:text-primary-950 bg-primary-800 focus-within:outline-none focus-within:bg-primary-900 transition-all" required>
                </fieldset>
                <button class="btn bg-primary-950 text-white rounded-sm">
                    Request a quote
                </button>
            </form>
        </div>
    </div>
</section>
{% endblock content %}


{% block styles %}
<style>
    #spacer {
        height: calc(100% + 17rem);
        transform: translateY(-10rem);
    }

    @media screen and (max-width: 1024px) {
        .circle {
            border: 6px solid white;
            box-shadow: 0 0 10px #000000aa;
            transform: translateY(-50%) translateX(-50%);
            left: 50%;
        }

        .card {}
    }

    @media screen and (min-width: 1024px) {
        #spacer {
            transform: translateX(-45%);
        }

        .endpts {
            transform: translateX(45%);
        }

        .circle {
            border: 8px solid white;
            box-shadow: 0 0 10px #000000aa;
        }

        #spacer {
            height: calc(100% + 17rem);
            transform: translateY(-10rem) translateX(-50%);
        }

        .endpts {
            transform: translateX(0);
        }

        .card:nth-child(even) article .desc {
            padding-right: 2rem;
        }

        .card:nth-child(even) .card-item:last-child {
            order: -1;
        }

        .card:nth-child(even) .card-item .circle {
            left: 0;
            transform: translateY(-50%) translateX(calc(-50% - 1rem));
        }

        .card:nth-child(odd) .card-item .circle {
            right: 0;
            transform: translateY(-50%) translateX(calc(50% + 1rem));
        }

        .card:hover .overdrop {
            opacity: 0;
        }
    }



    .card:hover .circle {
        background-color: rgb(132 204 22 / var(--tw-bg-opacity));
    }

    .car {
        top: 2rem;
    }
</style>
<script defer>
    document.addEventListener("DOMContentLoaded", function () {
        const divs = document.querySelectorAll('.content');

        divs.forEach(div => {
            const maxHeight = window.innerWidth >= 1024 ? 9 * parseFloat(window.getComputedStyle(div).lineHeight) : div.scrollHeight;

            if (div.scrollHeight > maxHeight) {
                div.style.overflow = 'hidden';
                div.style.maxHeight = `${maxHeight}px`;

                const moreButton = document.createElement('button');
                moreButton.textContent = 'Show More';
                moreButton.classList.add('more-button', 'text-sm', 'outline', 'outline-1', 'w-fit', 'mx-auto', 'mt-4', 'px-6', 'py-1');

                moreButton.addEventListener('click', function () {
                    if (div.style.maxHeight === 'none' || div.style.maxHeight === '') {
                        div.style.maxHeight = `${maxHeight}px`;
                        moreButton.textContent = 'Show More';
                    } else {
                        div.style.maxHeight = 'none';
                        moreButton.textContent = 'Show Less';
                    }
                });

                div.parentNode.insertBefore(moreButton, div.nextSibling);
            }
        });

        const spacer = document.getElementById("spacer");
        var car = document.querySelector(".car");
        var scrollingContent = document.getElementById("content");
        const startScroll = window.scrollY || window.pageYOffset;
        console.log(startScroll)
        console.log(car.style.top)
        console.log(spacer.style.height)

        document.addEventListener("scroll", function () {
            var scrollPosition = document.scrollTop;
            console.log(scrollPosition)
            car.style.top = scrollPosition + "px"; // Update the top position based on the scroll position
        });

        const content = document.getElementById("content");
        const cards = document.querySelectorAll(".card");

        if (spacer && content) {
            // Get the width of the spacer
            const spacerWidth = spacer.offsetWidth;

            // If window width is less than 1024, set left margin of content
            if (window.innerWidth < 1024) {
                content.style.marginLeft = spacerWidth + "px";
            } else {
                // If window width is greater than or equal to 1024, set gap between .card elements
                cards.forEach(card => {
                    card.style.gridGap = spacerWidth + "px";
                });
            }
        }
    });

</script>

{% endblock styles %}