{% extends 'base.html' %}
{% load static %}


{% block content %}
    <!-- <section class=" bg-lime-500">
        <div id="hero-space"></div>
        <div class=" py-44 text-center">
            <h1 class=" text-5xl font-bold">{{ itinerary.name }}</h1>
            <p class="mt-8 text-xl mb-16">Highlights Of Your Journey</p>
        </div>
    </section> -->

    <section id="banner" class="overflow-hidden h-[80vh]">
        <div class="relative h-full">
                <img src="{{ itinerary.image.url }}" alt="Kaizen Safaris {{ itinerary.name }}" class=" w-full h-full object-cover">
            <div class="cover z-10 absolute top-0 left-0 w-full h-full bg-black bg-opacity-40">
                <div id="hero-space"></div>
                <div class="container content-space grid justify-center content-start h-full">
                    <h1 class="shadowed text-5xl text-white uppercase mt-20 sm:mt-40 font-bold text-center">{{ itinerary.name }}</h1>
                    <p class="shadowed mt-8 text-xl mb-16 mx-auto text-white">Highlights Of Your Journey</p>
                </div>
            </div>
        </div>
    </section>

    <section class="pb-40">
        <section class="cards relative">
            <!-- start cards -->
            
            
            {% for day in itinerary.days.all %}
                <div class="card grid sm:grid-cols-2 sm:gap-8 ">
                    <figure class="card-item relative bg-slate-600">
                        <figure class=" relative overflow-hidden">
                            <img src="{{ day.image.url }}" alt="" class="w-full object-cover transition-all">
                            <div class="overdrop bg-lime-500 hidden sm:block absolute z-10 top-0 left-0 w-full h-full opacity-30 transition-all"></div>
                        </figure>
                        <div class="circle transition-all absolute bg-slate-900 rounded-full aspect-square p-3 sm:p-3 sm:top-1/2 z-30 grid justify-center content-center text-xs">
                            <span class="text-white font-bold">DAY {{ day.day }}</span>
                        </div>
                    </figure>
                    <article class="card-item pt-8 grid pl-1">
                        <h3 class="mt-8 sm:mt-0 ml-6 font-semibold text-3xl">{{ day.title }}</h3>
                        <p class="desc ml-6 text-lg my-8">
                            {{ day.description }}
                        </p>
                        <div class=" ml-6 grid gap-4 sm:gap-1 mb-3 sm:mb-1 sm:grid-cols-2 text-lg">
                            <div class="flex">
                                <div class="icon text-2xl mr-4">
                                    <i class="fas fa-ranking-star"></i>
                                </div>
                                <div>
                                    <h4 class=" font-semibold">Tourist Attraction:</h4>
                                    <p>{{ day.tourist_attraction }}</p>
                                </div>
                            </div>
                            <div class="flex">
                                <div class="icon text-2xl mr-4">
                                    <i class="fas fa-money-bill-wave"></i>
                                </div>
                                <div>
                                    <h4 class=" font-semibold">Best Buy Of This Place:</h4>
                                    <p>{{ day.best_buy }}</p>
                                </div>
                            </div>
                            <div class="flex">
                                <div class="icon text-2xl mr-4">
                                    <i class="fas fa-bowl-food"></i>
                                </div>
                                <div>
                                    <h4 class=" font-semibold">Food Speciality:</h4>
                                    <p>{{ day.food_speciality }}</p>
                                </div>
                            </div>
                            <div class="flex">
                                <div class="icon text-2xl mr-4">
                                    <i class="fas fa-skiing"></i>
                                </div>
                                <div>
                                    <h4 class=" font-semibold">Activity:</h4>
                                    <p>{{ day.activity }}</p>
                                </div>
                            </div>
                        </div>
                        <footer class=" p-6 bg-slate-900 text-white mt-auto">
                            <i class="fas fa-bell mr-4"></i>
                            <strong>Kaizen Safaris:</strong> Come tour with us
                        </footer>
                    </article>
                </div>
            {% endfor %}
                

            <!-- end cards -->
            <!-- spacer -->
            <div id="spacer" class="absolute bg-gray-700 p-1 sm:left-1/2 top-0 rounded-full flex flex-col justify-center text-white z-20">
                <div class="endpts bg-gray-700 uppercase text-xs font-semibold text-center mt-4">start</div>
                <div class="line w-0 h-full border-l-2 border-dashed mx-auto"></div>
                <div class="endpts bg-gray-700 uppercase text-xs font-semibold text-center mb-4">end</div>
                <img class="car" src="{% static 'img/car.png' %}"/>
            </div>
        </section>
    </section>
{% endblock content %}


{% block styles %}
    <style>
        #spacer{
            height: calc(100% + 17rem);
            transform: translateY(-10rem) translateX(-45%);
        }
        .endpts{
            transform: translateX(45%);
        }
        
        @media screen and (max-width: 640px) {
            .circle{
                border: 6px solid white;
                box-shadow: 0 0 10px #000000aa;
                transform: translateY(-50%) translateX(-50%);
                left: 50%;
            }
        }
        @media screen and (min-width: 640px) {
            .circle{
                border: 8px solid white;
                box-shadow: 0 0 10px #000000aa;
            }
            #spacer{
                height: calc(100% + 17rem);
                transform: translateY(-10rem) translateX(-50%);
            }
            .endpts{
                transform: translateX(0);
            }
            .card:nth-child(even) article .desc{
                padding-right: 2rem;
            }
            .card:nth-child(even) .card-item:last-child{
                order: -1;
            }
            .card:nth-child(even) .card-item .circle{
                left: 0;
                transform: translateY(-50%) translateX(calc(-50% - 1rem));
            }
            .card:nth-child(odd) .card-item .circle{
                right: 0;
                transform: translateY(-50%) translateX(calc(50% + 1rem));
            }
            .card:hover .overdrop{
                opacity: 0;
            }
        }

        

        .card:hover .circle{
            background-color: rgb(132 204 22 / var(--tw-bg-opacity));
        }

        .car{
            position: absolute;
            top: 2rem;
        }
        
    </style>
{% endblock styles %}
    
    