{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="amartislab">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="Tour, Travel, Uganda, Kenya, East Africa, Tanzania, Rwanda, Burundi, Congo, Safari, Camping">

    <link rel="stylesheet" href="{% static 'dist/bundle.css' %}">
    <link rel="shortcut icon" href="{% static 'img/logo.webp' %}" type="image/x-icon">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
      </style>
    
    <!-- component styles -->
    {% block styles %}
    {% endblock styles %}
    
    <title>
        {% block title %}{% endblock %} | Kaizen Safaris
    </title>
</head>
<body class="overflow-x-hidden bg-grey-50 selection:bg-primary-900 selection:text-white font-body">
    <div class="opacity-0 pointer-events-none"></div>
    <div id="loader" class="fixed z-[99999] inset-0 bg-primary-900 grid place-content-center transition-all">
        <img src="{% static 'img/logo.webp' %}" alt="Kaizen Logo" class="animate-pulse">
    </div>
    {% include 'components/header.html' %}
    {% block content %}
    {% endblock content %}
    {% include 'components/footer.html' %}
    
    
    <script src="{% static 'dist/bundle.js' %}" defer></script>
    {% block scripts %}
    {% endblock scripts %}
    
</body>
</html>