{% extends 'base.html' %}
{% load static %}


{% block content %}
<section class=" h-[70vh] overflow-hidden rounded-b-[3rem] shadow-2xl">
    <div class="relative">
        <video autoplay muted loop class=" w-full h-full object-cover">
            <source src="{% static 'video/homehero.m4v' %}" type="video/mp4">
        </video>
        <div class="cover z-10 absolute top-0 left-0 w-full h-full bg-black bg-opacity-40">
            <div id="hero-space"></div>
            <div class="content-space">

            </div>
        </div>
    </div>
</section>

<section class="py-16">
    <h2 class="text-4xl font-bold text-center mb-4">Booking Form</h2>
    <div class="container">
        <form method="post" action="{% url 'contacts:book_now' %}" class="booking-form grid gap-4 text-xl"
        x-data="
            {
                form: {
                    fname: '',
                    lname: '',
                    email: '',
                    phone: '',
                    date: '',
                    single_number: '',
                    group_number: '',
                    tour: '',
                    fav-means: '',
                    fav-time: '',
                    anything_else: '',
                }
            }
        "
        >
        {% csrf_token %}
            <fieldset class="grid grid-cols-2 gap-4">
                <div>
                    <label for="fname">First Name</label>
                    <input required type="text" name="fname" class="p-2 w-full rounded-xl">
                </div>
                <div>
                    <label for="lname">Last Name</label>
                    <input type="text" name="lname" class="p-2 w-full rounded-xl">
                </div>
            </fieldset>
            <fieldset class="grid grid-cols-2 gap-4">
                <div>
                    <label for="email">Email</label>
                    <input required type="email" name="email" class="p-2 w-full rounded-xl">
                </div>
                <div>
                    <label for="phone">Phone Number</label>
                    <input required type="tel" name="phone" class="p-2 w-full rounded-xl">
                </div>
            </fieldset>
            <fieldset class="grid grid-cols-2 gap-4">
                <div>
                    <label for="date">When are you planning to visit?</label>
                    <input type="date" name="date" class="p-2 w-full rounded-xl">
                </div>
                <div>
                    <label for="single_number">How many are you?</label>
                    <input type="number" name="single_number" class="p-2 w-full rounded-xl">
                </div>
            </fieldset>
            <fieldset class="grid grid-cols-2 gap-4">
                <div>
                    <label for="group_number">If a group, How many People are in the group?</label>
                    <input type="number" name="group_number" class="p-2 w-full rounded-xl">
                </div>
                <div>
                    <label for="tour">Which Tour or Visit are you intrested in?</label>
                    <input type="number" name="tour" class="p-2 w-full rounded-xl">
                </div>
            </fieldset>
            <fieldset class="grid grid-cols-2 gap-4">
                <div>
                    <label for="group_number">What's the best way to contact you?</label>
                    <fieldset>
                        <input type="radio" id="phone" name="fav-means" value="phone">
                        <label for="phone">Phone</label><br>
                        <input type="radio" id="email" name="fav-means" value="email">
                        <label for="email">Email</label><br>
                        <input type="radio" id="fs-either" name="fav-means" value="Phone and email">
                        <label for="either">Either</label>
                    </fieldset>
                </div>
                <div>
                    <label for="number">If phone what is the best time to call you?</label>
                    <fieldset>
                        <input type="radio" id="check1" name="fav-time" value="8am to 11am">
                        <label for="check1">8 - 11 AM</label><br>
                        <input type="radio" id="check2" name="fav-time" value="Noon to 4pm">
                        <label for="check2">12 - 4 PM</label><br>
                        <input type="radio" id="check3" name="fav-time" value="5pm to 10pm">
                        <label for="check3">5 - 10 PM</label>
                    </fieldset>
                </div>
            </fieldset>
            <div>
                <label for="date">Anything Else we should know</label>
                <textarea name="anything_else" class="p-2 w-full rounded-xl" rows="5"></textarea>
            </div>
            <button type="submit" class="text-white bg-primary-900 p-2 px-4 mx-auto rounded-md max-w-fit">
                Submit Booking
            </button>
        </form>
    </div>
</section>
{% endblock content %}