{% load static %}

<footer class="bg-primary-950 pt-12 pb-8 px-2 shadow-2xl">
    <div class="container text-white">
        <h2 class="hidden">Footer</h2>
        <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-4">
            <figure class="hidden sm:block">
                <img src="{% static 'img/logo-white.webp' %}" alt="logo" class=" scale-90">
            </figure>
            <div>
                <h3 class=" text-2xl font-semibold mb-4">Locate Us</h3>
                <ol class="list-none grid gap-2">
                    <li><i class="fas fa-building w-4 mr-4"></i>Mukasa Towers, Ground Floor</li>
                    <li><i class="fas fa-road w-4 mr-4"></i>Seeta – Namilyango Road</li>
                    <li><i class="fas fa-box w-4 mr-4"></i>P O Box 8437, Mukono, Uganda</li>
                    <li><i class="fas fa-envelope w-4 mr-4"></i>info@kaizensafaris.com</li>
                    <li><i class="fas fa-phone w-4 mr-4"></i>Office: (+256) 393 243 933</li>
                    <li><i class="fab fa-whatsapp w-4 mr-4"></i>Whatsapp:(+256) 755 312 238</li>
                </ol>
            </div>
            <aside class="mt-8 lg:mt-0">
                <h3 class="text-2xl font-semibold mb-4">Popular Links</h3>
                <ol class="list-none grid gap-2">
                    <li>~<a target="_blank" href="https://www.tourism.go.ug/">Ministry of Tourism</a></li>
                    <li>~<a target="_blank" href="https://www.gou.go.ug/ministry/ministry-tourism-wildlife-and-antiquities">Wildlife and Antiquities</a></li>
                    <li>~<a target="_blank" href="https://ugandawildlife.org/">Uganda Wildlife Authority</a></li>
                    <li>~<a target="_blank" href="https://www.gorilla-permits.com/">Gorilla Permits and Licenses</a></li>
                    <li>~<a target="_blank" href="https://visas.immigration.go.ug/">Travel e-Visa</a></li>
                    <li>~<a target="_blank" href="https://utb.go.ug/">Uganda Tourism Board</a></li>
                </ol>
            </aside>
            <div class="mt-8 lg:mt-0">
                <!-- <h3 class="text-2xl font-semibold mb-4">Get in Touch</h3> -->
                <form class="grid gap-2" x-data="main" @submit.prevent="sendMail()">
                    <div id="token">{% csrf_token %}</div>
                    <input x-model="mail.name" type="text" placeholder="Your Name" name="your_name"
                        class="py-1 px-2 w-full rounded-sm text-white placeholder:text-primary-800 bg-primary-950 border-l-2 hover:border-l-8 border-primary-900 border-b focus-within:outline-none focus-within:bg-primary-900 transition-all">
                    <input x-model="mail.email" type="email" placeholder="Your email" name="your_email"
                        class="py-1 px-2 w-full rounded-sm text-white placeholder:text-primary-800 bg-primary-950 border-l-2 hover:border-l-8 border-primary-900 border-b focus-within:outline-none focus-within:bg-primary-900 transition-all">
                    <textarea x-model="mail.message" name="your_message" cols="30" rows="4" placeholder="How can we help you?"
                        class="py-1 px-2 w-full rounded-sm text-white placeholder:text-primary-800 bg-primary-950 border-l-2 hover:border-l-8 border-primary-900 border-b focus-within:outline-none focus-within:bg-primary-900 transition-all"></textarea>
                    <button type="submit"
                        class="hover:bg-white outline-2 outline outline-white w-fit text-white hover:text-black btn"
                        >Send a message</button> <span class="" x-text="status"></span>
                </form>
            </div>
        </div>
        <p class="text-center mt-4 text-primary-100">
            © Copyright 2022 - Kaizen Safaris - All Rights Reserved.
        </p>
        <ul class=" list-none flex gap-4 justify-center text-xl">
            <li>
                <a target="_blank" href="https://www.facebook.com/kaizensafaris" class=""><i class="fab fa-facebook"></i></a>
            </li>
            <li>
                <a target="_blank" href="https://x.com/KaizenSafaris" class="">
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-x"></i>
                </a>
            </li>
            <li>
                <a target="_blank" href="https://www.instagram.com/kaizensafarisug/" class=""><i class="fab fa-instagram"></i></a>
            </li>
            <li><a href="" class=""><i class="fab fa-whatsapp"></i></a></li>
            <li>
                <a href="mailto:kaizensafaris@gmail.com" class=""><i class="fas fa-envelope"></i></a>
            </li>
            <li>
                <a target="_blank" href="https://www.linkedin.com/in/kaizen-safaris-8a7845199/" class=""><i class="fab fa-linkedin"></i></a>
            </li>
            <li>
                <a target="_blank" href="https://www.youtube.com/@kaizensafaris" class=""><i class="fab fa-youtube"></i></a>
            </li>
        </ul>
    </div>
</footer>