{% load static %}


<header class="fixed w-full z-50" id="navbar-sticky">
    <div class="container">
        <nav class="flex justify-between py-4">
            <div class="nav-brand">
                <a href="/" class="">
                    <img src="{% static 'img/logo.webp' %}" alt="Kaizen Safaris" class="md:h-24 h-16">
                </a>
            </div>
            <div class="menu grid content-center">
                <ol class="nav-list list-none hidden md:flex gap-2 lg:gap-4 bg-[rgba(0,0,0,0.3)] px-8 py-2">
                    <li class="grid content-center"><a href="/" class="nav-link link">Home</a></li>
                    <li class="grid content-center relative dropdown">
                        <a class="nav-link link cursor-default">Destinations</a>
                        <div class="dropdown-content absolute bg-white hidden py-4 rounded w-max" x-data='main'>
                            <template x-for="d in destinations">
                                <a :href="`/destinations/${d.id}/`" class="link hover:bg-slate-100  px-3 py-2 whitespace-nowrap" x-text="d.name">
                                    {{ destination.name }}
                                </a>
                            </template>
                        </div>
                    </li>
                    <li class="grid content-center relative dropdown">
                        <a class="nav-link link cursor-default">Services</a>
                        <div class="dropdown-content absolute bg-white hidden py-4 rounded w-max">
                            <a href="{% url 'contacts:car-hire' %}" class="link hover:bg-slate-100 w-full px-3 py-2">
                                Car Hire
                            </a>
                            <a href="{% url 'contacts:tent-hire' %}" class="link hover:bg-slate-100  px-3 py-2 whitespace-nowrap">
                                Camping Equipment
                            </a>
                        </div>
                    </li>
                    <li class="grid content-center"><a href="{% url 'main:gallery-view' %}"
                            class="nav-link link">Gallery</a></li>
                    <li class="grid content-center"><a href="{% url 'contacts:book_now' %}"
                            class="nav-link link">Book Now</a></li>
                </ol>
                <span class="grid content-center md:hidden text-2xl p-2 text-white">
                    <i class="fas fa-bars" id="menu-btn"></i>
                </span>
            </div>
        </nav>
    </div>
</header>
<div class="fixed smmenu -top-full left-0 bg-white z-40 h-full w-full block md:hidden">
    <div class="h-full w-full grid place-content-center inner">
        <ul class="text-black list-none">
            <li class="md:grid content-center relative dropdown bg-slate-50 my-4 text-center text-xl rounded-2xl px-4"
                x-data="
                        {
                            destinations: null,
                            getDestinations() {
                                fetch('{% url 'api:destinations' 'all' %}')
                                    .then((response) => response.json())
                                    .then((json) => this.destinations = json);
                            }
                        }
                        " x-init="getDestinations()">
                <a class=" cursor-default">Countries <i class="fas fa-caret-down"></i></a>
                <div class="dropdown-content absolute shadow-lg bg-white hidden py-4 rounded w-full">
                    <template x-for="destination in destinations">
                        <a @click="window.location.href = `/destinations/${destination.id}`" x-text="destination.name"
                            class="my-1 text-center hover:bg-slate-400 w-full px-3 cursor-pointer"></a>
                    </template>
                </div>
            </li>
            <li class="md:grid content-center bg-slate-50 my-4 text-center text-xl rounded-2xl px-4"><a
                    href="{% url 'contacts:car-hire' %}" class="">Car hire</a></li>
            <li class="md:grid content-center bg-slate-50 my-4 text-center text-xl rounded-2xl px-4"><a
                    href="{% url 'contacts:tent-hire' %}" class="">Camping
                    Equipment</a></li>
            <li class="md:grid content-center bg-slate-50 my-4 text-center text-xl rounded-2xl px-4"><a
                    href="{% url 'main:gallery-view' %}" class="">Gallery</a></li>
            <div class="close-nav text-4xl text-center mt-8 "><i class="fas fa-close"></i></div>
        </ul>
    </div>
</div>


{% block styles %}
<style>
    .dropdown:hover .dropdown-content {
        display: grid;
        top: 100%;
    }
</style>
{% endblock styles %}